<p>
        Создайте иерархию классов животных. Каждый класс 
    должен хранить данные для конкретного животного. 
    Создайте методы для отображения названия животного
    и звука, который оно издаёт. Обратите внимание, 
    что название животного может отображаться на экран 
    или в файл. Такое же поведение и у звука. Он может 
    отображаться на экран или в файл. Используйте принципы 
    Inversion of Control и Dependency Injection в коде 
    этой программы.
    </p>
    <h4>Дополнение к 1 заданию</h4>
    <p>
        Добавьте к первому заданию возможность сохранения 
    массива животных в файл. Также добавьте возможность 
    загрузки массива животных из файла. Обязательно реализуйте 
    возможность сохранения в разных форматах и 
    загрузку из разных форматов файла. Используйте принципы 
    Inversion of Control и Dependency Injection в коде 
    этой программы.
    </p>